/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* COMMON */
html{
    font-family: 'Whitney', sans-serif; 
}

.flex-container{
    display: flex;
}

.content{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

main section:nth-child(2n + 0){
    background-color: lightgrey;
}


/* Buttons */
.btn{
    display: inline-block;
    background-color: #fff;
    text-decoration: none;

    padding: .5em 1em;
    border-radius: 30px;
}


/* HEADER */
header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

/* navigation bar */
.header-navbar{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Logo header */
.flex-container .header-logo{
    width: 20%;
}

.header-logo img{
    width: 80%;
}

/* Menu Header */
.flex-container .header-menu{
    width: 60%;
    color: white;
    justify-content: center;
    align-items: center;  
}

.header-menu ul{
    list-style-type: none;
    text-align: center;
}

.header-menu ul li{
    display: inline-block;
    padding: 0 1em;
}

/* Command Header */
.flex-container .header-command{
    width: 20%;

    justify-content: flex-end;
    align-items: center;
}


/* Jumbtron */
.header-jumbotron{
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.jumbtron-contain{
    width: 70%;
    margin: 0 auto;
    text-align: center;  
}

.jumbtron-contain h2{
    font-size: 2rem;
    margin-bottom: .6em;
    color: white;
}

.jumbtron-contain p{
    margin-bottom: 1em;
    color: white;
}

#browser-button{
    color: white;
    background-color: #23272a;

    margin-left: .5em;
}

/* MAIN */
/* Blocco informazioni */
.block-info{
    width: 100%;
    padding: 1.5em 0;
}

/* Photo del block */
.flex-container .photo{
    width: 65%;

    /* DEBUG */
    min-height: 150px;
    background-color: #1e90ff;
    border: 1px dashed black;    
}

/* Testo del blocco */
.flex-container .description-photo{
    width: 35%;

    /* DEBUG */
    min-height: 150px;
    background-color: #ffc0cb;
    border: 1px dashed black;    
}

/* Blocco Adv */
.big-section{
    width: 100%;
    padding: 1.5em 0;
}

/* Contenuto ADV */
.big-contain{
    width: 100%;

    /* DEBUG */
    background-color: green;
    min-height: 300px;
    border: 1px dashed black;    
}


/* FOOTER */
footer{
    background-color:#23272a;
}

/* Footer top */
.footer-top{
    border-bottom: 1px solid white;
}

.footer-top{
    width: 100%;
    padding-top: .5em;
    padding-bottom: 1em;
}

.footer-social{
    width: 35%;

    /* DEBUG */
    min-height: 200px;
    background-color: #f08080;
    border: 1px dashed black;    
}

.footer-col{
    width: calc(65% / 4);

    /* DEBUG */
    min-height: 200px;
    border: 1px dashed white;    
    background-color: #20b2aa;
}


/* Footer Bottom */
.footer-bottom{
    width: 100%;
    padding-top: 1em;
}

.sidebar-contain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* DEBUG */
    min-height: 50px;
    background-color:#7fffd4;
}

.logo-footer,
.bottone-footer{
    padding: .1em;

    /* DEBUG */
    background-color: lightgrey;
    border: 1px dashed black;    
}