/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Whitney', sans-serif; 
}

.flex-container{
    display: flex;
}

.content{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}


main section:nth-of-type(2n + 0){
    background-color: #e6e6e6;
}

ul{
    list-style-type: none;
}

/* Buttons */
.btn{
    display: inline-block;
    background-color: #fff;
    text-decoration: none;

    padding: .5em 1em;
    border-radius: 30px;
}

/* Wave */
.wave{
    width: 100%;
    margin-bottom: -1em;
}

.wave svg{
    color: #e6e6e6;
}

.wave.rotate svg{
    transform: rotate(180deg);
}


/* HEADER */
header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

/* navigation bar */
.header-navbar{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Logo header */
.flex-container .header-logo{
    width: 20%;
}

.header-logo img{
    width: 80%;
}

/* Menu Header */
.flex-container .header-menu{
    width: 60%;
    color: white;
    justify-content: center;
    align-items: center;  
}

.header-menu ul{
    text-align: center;
}

.header-menu ul li{
    display: inline-block;
    padding: 0 1em;
}

/* Command Header */
.flex-container .header-command{
    width: 20%;

    justify-content: flex-end;
    align-items: center;
}


/* Jumbtron */
.header-jumbotron{
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.jumbtron-contain{
    width: 70%;
    margin: 0 auto;
    text-align: center;  
}

.jumbtron-contain h2{
    font-size: 2rem;
    margin-bottom: .6em;
    color: white;
}

.jumbtron-contain p{
    margin-bottom: 1em;
    color: white;
}

#browser-button{
    color: white;
    background-color: #23272a;

    margin-left: .5em;
}

/* MAIN */
/* Blocco informazioni */
.block-info{
    width: 100%;
    padding: 2em 0;
}

/* Photo del block */
.flex-container .photo{
    width: 65%;   
}

.photo img{
    display: block;
    width: 100%;
}

/* Testo del blocco */
.flex-container .description-photo{
    width: 35%;   
}

.description-photo h3{
    font-size: 2.5rem;
    margin: .5em 0;
}

/* Big Section */
.big-section{
    width: 100%;
    padding: 1.5em 0;
}

.big-contain{
    width: 100%;
    text-align: center;   
}

.big-contain h3{
    font-size: 2.5rem;
    margin: .5em 0;
}

.big-contain img{
    width: 80%;
}

#stars-decoration{
    width: 50%;
}

.big-contain h4{
    font-size: 1.5rem;
    margin-top: -1em;
    margin-bottom: 1em;
}

.big-contain a{
    color: white;
    background-color: #7289da;
}


/* FOOTER */
footer{
    background-color:#23272a;
}

/* Footer top */
.footer-top{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
}

/* Footer Social */
.footer-social{
    width: 35%; 
    color: white; 
}

.footer-social h3{
    font-size: 2rem;
    color: #7289da;

    margin-bottom: .5em;
}

.footer-social img,
.footer-social span{
    width: 1.5em;
    vertical-align: middle;
}

.footer-social .icone i{
    padding: 1em .4em;
}

/* Footer colonne */
.footer-col{
    width: calc(65% / 4);
}

.footer-col h3{
    font-weight: bold;
    color: #7289da;
}

.footer-col ul li{
    color: white;
    margin-top: .5em;
}


/* Footer Bottom */
.footer-bottom{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
}

.sidebar-contain{
    width: 100%;
    padding-top: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #7289da;
}

.logo-footer img{
    width: 100%;
}

.bottone-footer a{
    background-color: #7289da;
    color: white;
}